<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
    <meta charset="UTF-8">
    <title>Malerpris.dk - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{{ url_for("static", filename="libs/datatables.min.css") }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"
            integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for("static", filename="libs/datatables.min.js") }}"></script>
    <meta name="format-detection" content="telephone=no">
</head>
<body>
<div id="note">

</div>
{% block navbar %}
    <nav class="navbar is-transparent is-fixed-top">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('site.index') }}">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
                </a>
            </div>
            <div class="navbar-menu" id="navMenu">
                <div class="navbar-end">
                    <a class="navbar-item"
                       href="{{ url_for("static", filename="Leveringsbetingelser.pdf") }}"
                       target="_blank">
                        <span><i class="fas fa-file-contract"></i> {{ _("Conditions") }}</span>
                    </a>
                    <a class="navbar-item" href="mailto:rene@malerpris.dk">
                        <span><i class="fas fa-envelope"></i> rene@malerpris.dk</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="notification-list">
            <ul>
                {% for category, message in messages %}
                    <li class="has-background-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}


{% block content %}{% endblock %}


<footer class="footer has-background-primary">
    <div class="container has-text-white-ter" id="my-footer">
        <strong class="has-text-white-ter">Malerpris.dk</strong>
        <p>Harevej 13, 8660 Skanderborg</p>
        <p>CVR 27 34 28 41</p>
    </div>
</footer>


</body>

{% block scripts %}

{% endblock %}


</html>