{% extends 'base.html' %}

{% block title %}{{ _("Admin") }}{% endblock %}

{% block content %}
    <section class="section hero is-medium">
        <div class="container">
            <div class="hero-body">
                <div class="columns">
                    <div class="column is-hidden-mobile is-half">
                        <img src="{{ url_for("static", filename="img/logo.png") }}" alt="">
                    </div>
                    <div class="column is-half">
                        {% if case %}
                            <h3 class="has-text-dark has-text-weight-bold is-size-1">
                                {{ case.name }}
                            </h3>
                        {% else %}
                            <h3 class="has-text-dark has-text-weight-bold is-size-1">
                                {{ _("Add Case") }}
                            </h3>
                        {% endif %}
                        {% include "admin/case_form.html" %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}