<form method="post">
    {{ form.hidden_tag() }}
    <div class="field">
        <label class="label">{{ _("Case name") }}</label>
        <div class="control">
            <input type="text"
                   class="input is-large"
                   autofocus
                   name="case_name">
        </div>
    </div>

    <div class="field">
        <label class="label">{{ _("Case address") }}</label>
        <div class="control">
            <input type="text"
                   class="input is-large"
                   autofocus
                   name="case_address">
        </div>
    </div>

    <div class="field">
        <label class="label">{{ _("Date") }}</label>
        <div class="control">
            <input type="date"
                   placeholder="22-11-2018"
                   class="input is-large"
                   name="case_date">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-large is-primary">{{ _("Add") }}</button>
        </div>
    </div>
</form>